.home {
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
  .header-home {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 90px;
    .header-menu {
      cursor: pointer;
      .detail {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        // padding: 30px;
        color: #fff;
        // overflow: hidden;
        &.active {
          p {
            color: #ffcc3e;
            transform: translateY(15px);
            opacity: 0;
          }
          .img {
            transform: rotate(360deg) scale(0);
          }
        }
        p {
          margin-right: 10px;
          margin-bottom: 5px;
          transition: 0.8s all ease-in-out;
        }
        .img {
          transition: 0.8s all ease-in-out;
          transform-origin: center center;
          img {
            width: 18px;
            height: 18px;
          }
        }
      }
    }
  }
}
.contact-menu:hover .contact-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}
